table td{
    border: solid black 1px;
}
div.MobileClient
{
  padding: 2px 0;
}
.Blocked{
background-color:red;
}
.Active{
background-color:green;
}
span.MobileClientBalance
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}

span.MobileClientFIO
{
  margin-right: 30px;
}